MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=your_gmail_address@gmail.com
MAIL_PASSWORD=your_app_password_here
MAIL_FROM_EMAIL=your_gmail_address@gmail.com
MAIL_FROM_NAME=ePiata
